@{
    ViewData["Title"] = "Privacy Policy";
    // Layout = ~ViewsShared
    // Dá pra mudar o layout aqui (tem q botar o caminho)
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
